:root {
    --container2: ;
    --left-bg-color: rgba(73, 73, 73, 0.432);
    --left-button-hover-color: rgba(92, 92, 92, 0.3);
    --right-bg-color: rgba(73, 73, 73, 0.432);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
  }
body {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5rem;
    padding-top: .5rem;
    width: 12rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container2 {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid rgb #37474f ;
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
    background: url("images/img2.jpg") center center no-repeat;
    background-size: cover;
    height:350px;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split.right {
    right:0;
    background: url("images/img1.jpg") center center no-repeat;
    background-size: cover;
    height:350px;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 125%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
 

  
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }

  .loginContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url("https://images.unsplash.com/photo-1518757535402-49f315ea55f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97221a5d92e76477b2b5f367f54abfbf&auto=format&fit=crop&w=1050&q=80"); 
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    flex: 1 0 auto;
  }
.brand-logo >img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
}

.bg-card-user {
  margin-top: -10px;
	padding: 15px 0;
}
.truncate >img {
	width: 180px;
	margin-top: 6px;
	margin-bottom: 6px;
}

footer .foot-text {
    margin-top: 10px;
}


.logo {
    height: 650px;
}
i.iconis {
    font-size: 1em;
    margin-top: 8px;
}
.login {
    width: 80%;
    margin: 0 auto center;
    background-color: rgba(255,255,255,.7); 
    padding: 20px;
}

.row.login{
  margin-left: 10%;
  margin-right: 10%;
}

::placeholder{
  color: black;
  opacity: .5;
}

/*About Us*/
* {
  box-sizing: border-box;
  color: #333;
}

.section {
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  position: relative;
  margin-top: -200px;
  display: inline-block;
  letter-spacing: 4px;
  margin-right: 600px;
  color: black;
  text-align: center;
}

.top-border{
  position: absolute;
  margin-top: -15px;
  height: 2px;
  width: 24%;
  background-color: #333;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {	
  width: 18%;
	}
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
}

@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .section {
  border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}

div.card-panel.border-0 {
  -webkit-box-shadow: none;
  box-shadow: none;
}